<%- include('../includes/head.ejs') %> 
  <body style="background-image: url('https://imgur.com/HchIO2m.png');">
    <%- include('../includes/nav.ejs') %> 
    <div class="container" style="margin-top: 2%;">
      <div class="list-group">
        <% if(userOrders.length>0) { %>
          <% for (x of userOrders) { %>
            <div class="card mb-3">
              <div class="card-header">
                Order - # <%= x._id %> 
              </div>
              <div class="card-header">
                Customer email - <%= x.user.email %> 
              </div>
              <div class="card-body">
                <% for (y of x.products) { %>
                <div class="mb-2 border border-info" >
                  <div style="display: inline-block;">
                  <p style="padding-left: 20px;">Product : <%= y.productData.title %> </p>
                </div>
                <div style="display: inline-block">
                  <footer class="blockquote-footer" style="padding-left: 10px;">  Qty : <cite title="Source Title"><%=y.qty%> </cite></footer>
                </div>
                </div>
              <% } %> 
              </div>
            </div>
        <% } %>
        <% } %>
      </div>
    </div>




    <%- include('../includes/foot.ejs') %> 
</body>
</html>