<%- include('../includes/head.ejs') %> 
  <body style="background-image: url('https://imgur.com/IpFjUdG.png');">
    <%- include('../includes/nav.ejs') %> 
    <div class="container">
    <main style="margin: auto;text-align: center;">
        <h2><%= product.title %></h2>
        <hr>
        <img style="width:350px;height:350px;"src="<%= product.imageURL %>"/>
        <hr>
        <h5>Price : <%= product.price %> </h5>
        <p><%= product.description %></p>
        <% if (isAuthenticated) {%> 
        <form method="POST" action="/cart">
          <input type="hidden" name="id" value="<%= product._id %>">
          <input type="hidden" name="price" value="<%= product.price %>">
          <button type="submit" class="btn btn-warning" >Add to Cart</button>  
        </form>
      <% } %> 
    </main>
    </div>
    <%- include('../includes/foot.ejs') %> 
</body>
</html>
  